html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* main {
  margin: 10px;
} */
/*TODO: light mode colors*/
:root {
  --text: #eee;
  --bg: #171717;
  --surface1: #242428;
  --blue: #001ee4;
  --pink: #ffa2e6;
  --pink-bg: #53354b;
  --amber: #edae00;
  --amber-bg: #574000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--text);
    background: var(--bg);
  }
}
