.contentContainer {
    margin-left: calc(min(25%, 280px));
}

.pageContainer {
    margin: 0 32px 64px 32px;
    max-width: 800px;
}

.navbar {
    /* background-color: #222; */
    padding: 4px;
}

.navbar a {
    font-size: 1.2em;
    margin-right: 8px;
}

.navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.navbar a.current {
    color: var(--pink);
    text-decoration: underline;
    text-underline-offset: 8px;
}

.navbar a.onpath {
    text-decoration-color: var(--pink);
    text-decoration-line: underline;
    text-underline-offset: 8px;
}

.navbar a.tempselected {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.divider {
    margin: 0 8px 0 0;
    font-size: 1.3em;
}

.sidebar {
    width: 25%;
    max-width: 280px;
    background-color: var(--surface1);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebarLink {
    padding: 10px 16px;
}

.sidebarLink.current {
    color: var(--pink);
    /* background-color: #333; */
}

.sidebarLink.leaf:hover {
    /* text-decoration: underline; */
    /* text-underline-offset: 4px; */
    background-color: #32323c;
}

.sidebarLink:not(.leaf):hover {
    background-color: #32323c;
}

.onpathArrow {
    color: var(--pink);
}

.sidebarLink.leaf {
    background-color: #2c2c34;
    padding-left: calc(16px + 1.5em);
}

.sidebarLink.hidden {
    display: none
}