.pitchDisplay {
    display: flex;
    max-height: 240px;
    justify-content: space-evenly;
}

.currentWord {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding-right: 32px;
}

.currentWord .japanese {
    font-size: 1.3em;
    font-weight: bold;
}

.currentWord .english {
    color: #ccc;
}

/* .wordList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 16px;
    justify-content: center;
} */

.wordList {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 16px;
    align-items: end;
    grid-auto-flow: column;
}

.clickableWord {
    cursor: pointer;
}

.clickableWord:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.clickableWord.current {
    color: var(--pink);
}

.maruPlot {
    /* height: 200px;
    width: 300px; */
    max-height: 200px;
    max-width: 268px;
    /* border: 1px solid blue; */
}